.mainContainer {
    .article {
        height: max-content;
        width: 95%;
        margin: auto;
        img {
            height: 400px;
            width: 100%;
            object-fit: contain;
            margin: 5% 0;
        }

        .author {
            color: white;
            margin-top: 10%;
            font-weight: bold;
            cursor: pointer;
        }
    }
}